* {
    font-family:'Comfortaa', system-ui;
    b {
        font-weight: 900;
    }
}


body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e7f6ff;
}

.wrapper {
    .mb-40 {
        margin-bottom: 40px;
    }
    hr {
        width: 1170px;
        height: 1px;
        background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
        background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
        background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
        background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
        display: table-cell;
        background-color: #e9e9e9;

    }
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    max-width: 1200px;
    margin: 50px auto;
    padding-left: 20px;
    padding-bottom: 20px;
}

header {
    display: flex;
    justify-content: space-between;

    .headerLeft {
        display: flex;
        align-items: center;
        padding-left: 20px;
        padding-top: 20px;

        .headerInfo {

            p {
                opacity: 0.5;
            }

            h3 {
                font-weight: bold ;
            }
        }

        img {
            width: 30px;
            height: 30px;
            border-radius: 60%;
            margin-right: 15px;
        }

        h3,
        p {
            margin: 0;
        }
    }

    .headerRight {
        display: flex;
        justify-content: space-around;
        padding-right:20px;

        .headerPrice {
            img {
                padding-right: 10px;
            }
        }

        li {
            list-style-type: none;
            margin: 15px;
        }
    }
}

.content {
    .books {
        display: flex;
        flex-wrap: wrap;
    }
    h1 {
        margin: 0;
        margin-bottom: 40px;
        margin-top: 40px;
    }
    
}

.card {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    width: 220px;
    border-radius: 40px;
    border: 1px solid #e9e9e9;
    margin-right: 28px;
    transition: box-shadow 0.2s ease-in-out, transform 0.2 ease-in-out;
    overflow: hidden;
 
    &:hover {
        box-shadow: 0px 14px 30px rgba(0,0,0,0.08);
        transform: translateY(-5px);
    }

    .favorite {
        position:relative;
        cursor: pointer;
    }

   span {
       font-size: 13px;
       opacity: 0.5;
       text-transform: uppercase;
   }

   b {
       font-size: 13px;
   }

    h5 {
        font-weight: 400;
        font-size: 14px;
    }

    .cardAdd {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 70px;
        .cardPrice {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    .button {
        background: #ffffff;
        border: 1px solid #e9e9e9;
        box-sizing: border-box;
        border-radius: 8px;
        height: 32px;
        width: 32px; 
        cursor: pointer;
    }
}

.middleHeader {
    display: flex;
    text-align: center;
    margin-bottom: 40px;
    justify-content: space-between;
    .searchBlock {
        border-radius: 10px;
        padding: 0 15px;
        padding-top: 40px;

        img {
            margin-bottom: -4px;
        }
        input {
            border: 0;
            outline: 0 !important;
            padding: 12px;
            font-size: 16px;
            cursor:text;
            width: 200px;
        }
        
    }
    
}

.overlay {
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.drawerBlock {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 385px;
    height: 100%;
    left: 0;
    background: #ffffff;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    padding: 30px;

    h2 {
        display: flex;
        justify-content: space-between;
        margin: 0;
        margin-bottom: 30px;
        img {
            cursor: pointer;
        }
    }
}

.items {
    padding-left: 5px;
    margin-left: -20px;
    margin-bottom: 20px;
    width: 430px;
    height: 645px;
    overflow: auto;
}

.descriptionBlock {
    display: flex;
    flex-direction: column;
    img {
        margin-top: 60px;
        margin-left: 0px;

    }
}

.cartTotalBlock {
    .priceCount {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    button {
        display: block;
        position: absolute;
        right: 12px;
        bottom: 70px;
        width:95%;
        height: 55px;
        border-radius: 18px;
        border: 0;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        background: #9dd558;
        cursor: pointer;
    }
}



.cartItem {
    position:relative;
    display: flex;
    align-content: center;
    margin-top: 15px;
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;
    overflow-x: visible;

    
    p {
        font-size: 14px;
        margin-top:4px;
        margin-bottom: 10px;
        padding-right:8px;
    }
    
    b {
        font-size: 16px;
    }
    img:first-child {
        padding-right: 10px;
        margin-right:10px;
    }

    .removeBtn {
        opacity: 0.6;
        cursor: pointer;
        transition: opacity 0.15s ease-in-out;

        &:hover {
            opacity: 1;
        }
    }
}
